@model IEnumerable<QuizBeije.Models.Quiz>

<h1>Scegli un quiz per iniziare</h1>
<div>
    @foreach (var item in Model)
    {
    <a class="nav-link text-dark" href="/Quiz/@item.QuizId">@item.QuizName</a>
    }
</div>